
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: initial;
}

a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
  background-color: transparent !important;
}

.card.card-default.border-light{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

[v-cloak] {
  display:none;
}